@font-face {
    font-family: Fraunces;
    src: url(../assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}
@font-face {
    font-family: Manrope;
    src: url(../assets/fonts/manrope/Manrope-VariableFont_wght.ttf);
}

:root 
{
    --c-DarkPurple: #24053E;
    --c-DavysGrey: #584D62;
    --c-Euca:#44FFA1;
    --c-GhostWhite: #FCF8FF;
    --c-White: white;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

* :first-child {
    margin-top: 0;
}
* :last-child {
    margin-bottom: 0;
}

/* Typography */

body {
    font-family: Manrope;
    line-height: 1.75;
    color:var(--c-DavysGrey);
}

#nav__link
{
    color:inherit;
    text-decoration:none;
    border-bottom: 3px solid var(--c-Euca);
}

#title 
{
    font-family: Fraunces;
    font-size: 3.125rem;
    line-height: 1;
    font-weight: 400;
}

#title span 
{
    border-bottom: 3px solid var(--c-Euca);
}

.feature__num {
    font-family: Fraunces;
    font-size: 1.25rem;
}

.feature__title 
{
    font-size: 1.75rem;
    line-height: 1.28;
    font-family: Fraunces;
    font-weight: 400;
}


#apply-section__title 
{
    font-size: 2rem;
    font-family: Fraunces;
    font-weight: 400;
}


/* Components Typography */

.btn 
{
    font-family: Manrope;
    font-weight: bold;
    color: var(--c-DarkPurple);
    font-size: 1rem;
}

.btn:hover 
{
    color: var(--c-Euca);
}


@media (min-width: 768px)
{
    #title {
        font-size: 3.75rem;
    }


    #apply-section__title 
    {
        font-size: 3rem;
    }
    
}


@media (min-width:1440px)
{
    html {
        font-size: 18px;
    }
    #title
    {
        font-size: 5rem;
    }

    
    .feature__num {
        font-size: 1.33rem;
    }
    .feature__title 
    {
        font-size: 1.77rem;
    }


    #apply-section__title 
    {
        font-size: 3.1rem;
    }
}